/* src/components/NavBar.css */
.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
}

.navbar a.active {
  background-color: #555;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #666;
}